/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
    width: 1040px;
    padding-left: $wrap_padding;
    padding-right: $wrap_padding;
}